 {% load static %}
 <section class="popular">
        <div class="container">
            <div class="popular-header-text ">
                <h2 class="popular-text text-center">Популярное</h2>
            </div>
            <div class="popular-card-list card-list">
                {% for el in recipesmini %}

                <div class="last-card card">
                    <form action="{% url 'recipe' el.id %}" method="get">
                        <input type="hidden" name="post-id" value="{{el.id}}">
                        <button type="submit" class="recipe-submit"></button>
                    {% if el.photo %}
                        <img src="{{el.photo.url}}" alt="{{el.photo.url}}" class="card-img">
                    {% endif %}
                    </form>
                    <p class="card-text">{{ el.title }}</p>
                    <p class="card-tags-header-text">Теги</p>
                    <div class="card-tags">
                        {% for tag in el.tag.all %}
                        <p class="card-tag"> {{  tag.name }}</p>
                        {% endfor %}
                    </div>
                    <div class="card-info-list">
                        <div class="card-views">
                            <p class="card-views-text"><img src="{% static 'main/img/icons/views.svg' %}" alt="просмотры иконка" class="card-info-icon">
                                {{ el.total_views }}
                            </p>
                        </div>

                        {% csrf_token %}
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>